<p>
I’m calling because the American people need you to stand up for the Internet — and stop shilling for the big cable companies.  An Internet with Net Neutrality is an open playing field that lets free speech and innovation flourish.  Real conservatives should support that. 
</p>

<p>
And conservatives should oppose crony capitalism, but you’re just doing the bidding of companies that have given you thousands in campaign donations &mdash; even though the overwhelming majority of Americans disdain the cable companies and support Net Neutrality.
</p>

<p>
Please stand with your constituents: Support strong Net Neutrality rules under Title II of the Telecommunications Act.  
</p>