<h1>Tell These Republican Lawmakers:<br><u>Stop Shilling for Big Cable</u></h1>
<p>
    Americans overwhelmingly support Net Neutrality, but several dozen Republicans who sit on the committees that oversee the Federal Communications Commission are trying to kill it.
</p>
<p>
  They just signed a letter* in opposition to the Net Neutrality proposal millions of Americans and President Obama back &ndash; and Senator Ted Cruz even called Net Neutrality <em>&ldquo;Obamacare for the Internet&rdquo;</em>&nbsp;!</p>
<p>
  They’re just doing the bidding of Comcast, AT&amp;T, Time Warner, and the other big cable monopolies &ndash; who, incidentally, have donated hundreds thousands of dollars to their campaigns.
</p>