<h1>Tell Republican Lawmakers:<br><u>Stop shilling for Big Cable</u></h1>
<p>
    Americans overwhelmingly support Net Neutrality, but several dozen Republicans who sit on the committees that oversee the Federal Communications Commission are trying to kill it.
</p>
<p>
  They just signed a letter* in opposition to President Obama’s proposal to protect the Internet &ndash; and one of them even called Net Neutrality <em>&ldquo;Obamacare for the Internet&rdquo;</em>!</p>
<p>
  They’re just doing the bidding of Comcast, AT&amp;T, Time Warner, and the other big cable monopolies &ndash; who, incidentally, have donated hundreds thousands of dollars to their campaigns.
</p>