<div id="cta">
<p>
    Americans overwhelmingly support Net Neutrality, but some Republicans on committees that oversee the FCC are trying to kill it.
</p>
<p>
  They just signed a letter* opposing <a href="https://www.didobamabreakthenet.com" target="_blank">President Obama's proposal</a>.<br>
  <span>Senator Ted Cruz even called Net Neutrality <em>&ldquo;Obamacare for the Internet&rdquo;</em>&nbsp;!</span>
</p>
<!--<img src="/images/republicanslovecomcast_share.png" alt="Republicans <3 Comcast" />-->
<p>
  They’re doing the bidding of Comcast, AT&amp;T, Time Warner, and the other big cable companies &ndash; who donated $$$ to their campaigns.
  <br><b>Please help us call them out:</b>
</p>
</div>