<p class="small">
  If you enter your number above, <b>we'll call you</b> and connect you with the offices of these Republican lawmakers.  We'll suggest a script you can read to them to demand that they stop shilling for Big Cable — and that they stand up for the Internet.
</p>
<p class="small">
    If your phone number is based outside of the U.S., it will not work with this call tool. But don't fret about it! You can still <a href="https://www.battleforthenet.com/">sign our letter for net neutrality here</a>.
</p>
<p class="small">
  *You can read <a href="http://energycommerce.house.gov/sites/republicans.energycommerce.house.gov/files/letters/20141112FCC.pdf">their letter here</a>.
</p>